h1{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    text-align: center;
}
body {

}

#card{
    margin-left: 5;
    margin-top: 5;
    margin-right: 5;
}