h1{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    text-align: center;
}
body {

}
#contenido{
    margin-top: 5;
    padding-top:4;
}
#card{
    margin-left: 5;
    margin-top: 5;
    margin-right: 5;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
  }
  #footer{
      align-content: center;
      align-items: center;
  }
